<!--
  ~ Copyright (c) 2016 Richard C.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eng.arab.translator.androidtranslator"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/app_theme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/app_theme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".translate.TranslateViewActivity"
            android:parentActivityName=".MainActivity"
            android:label="Translator"
            android:stateNotNeeded="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShowDetailsMonth"
            android:stateNotNeeded="true"
            android:label="Month Details"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DictionaryViewActivity"
            android:label="Voice"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".ShowDetailsDictionary"
            android:stateNotNeeded="true"
            android:label="Dictionary Details"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.DictionaryViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AlphabetViewActivity"
            android:label="Voice"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".ShowDetailsAlphabet"
            android:stateNotNeeded="true"
            android:label="Alphabet Details"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.AlphabetViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
